.body {
    width: 400px;
    height: 450px;
    margin: 0 auto;
}

.main {
    height: 250px;
}

.red {
    height: 100px;
    background: #ff0000;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.green {
    height: 250px;
    width: 150px;
    background: #00ff1e;
    float: left;
}

.violet {
    height: 50px;
    width: 150px;
    background: #cc00db;
    float: right;
}

.orange {
    height: 150px;
    width: 100px;
    background: #ff9e6b;
    float: right;
}

.blue {
    height: 100px;
    width: 150px;
    background: #0093b7;
    float: right;
}

.brown {
    height: 100px;
    width: 250px;
    background: #8c2727;
    float: right;
}

.yellow {
    height: 100px;
    background: #ffe600;
}